@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: #1f2937;
}

.cabecalho-e-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-e-nav a {
    font-size: 18px ;
}

.texto-principal-e-imagem {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img.imagem-principal {
    width: 300px;
}