@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
}

header {
    background-color: #1f2937;
}

.cabecalho-e-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

.logotipo-da-pagina{
    height: 46px;
}

.cabecalho-links {
    display: flex;
    gap: 32px;
}

.cabecalho-links-item {
    font-family: 'Righteous', cursive;
    font-size: 18px ;
    color: #E5E7EB;
}

.texto-principal-e-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 86px 0;
}

.texto-principal{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.texto-principal h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.texto-principal p{
    font-family: 'Righteous', cursive;
    font-size: 18px ;
    color: #E5E7EB;
} 

.texto-principal-botao {
    background-color: #3882f6;
    width: 185px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 4px #010117;
    border-radius: 20px;
    font-family: 'Righteous', cursive;
    font-size: 18px ;
    color: #E5E7EB;
}

.texto-principal-botao:hover {
    cursor: pointer;
}

.imagem-principal {
    height: 220px;
}

.ilustracoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-principal-do-corpo {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 32px 0;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 64px;
}

.card {
    border: solid 2px #3882f6;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    flex-basis: 200px;
    box-shadow: 4px 5px 4px #010117;
    gap: 8px;
}

.imagem-card {
    height: 200px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-left-radius: 05px;
    -webkit-border-bottom-right-radius: 05px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomleft: 05px;
    -moz-border-radius-bottomright: 05px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 05px;
    border-bottom-right-radius: 05px;
}

.texto-card {
    font-family: 'Righteous', cursive;
    color: #1f2937;
}

.texto-motivacional {
    background-color: #E5E7EB;
    padding: 100px 160px;
    display: flex;
    flex-direction: column;
}

.texto-motivacional-principal {
    align-self: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.texto-motivacional-autor {
    align-self: flex-end;
    font-size: 36px;
    color: #1f2937;
}

.destaque-signup {
    padding: 100px 120px;
}

.destaque-signup-texto-botao {
    display: flex;
    background-color: #3882f6;
    padding: 48px 84px;
    justify-content: space-between;
    border-radius: 10px;
    gap: 32px;
}

.texto-destaque h3 {
    font-family: 'Righteous', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #F9FAF8;
}

.texto-destaque p {
    font-family: sans-serif;
    font-size: 18px;
    color: #ffffff;
}

.destaque-signup-botao {
    background-color: #3882f6;
    color: #F9FAF8;
    border-color: #E5E7EB;
    border-radius: 10px;
    border: solid 2px;
    padding: 0 40px;
    font-family: 'Righteous', cursive;
    font-size: 18px;
}

.destaque-signup-botao:hover {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    padding: 48px;
    background-color: #1f2937;
}

.texto-do-footer {
    font-family: sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}